* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.top,
.footer {
    background-color: #1F2937;
    color: white;
}

.contentOne #heroMain {
    size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
}

#logo {
    font-size: 24px;
    color: #F9FAF8
}

.headerLink {
    font-size: 18px;
    color: #E5E7EB
}

.header, .contentOne {
    margin-right: 100x;
    margin-left: 100px;
}

.headerLinks {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
